# إعدادات بوت النتائج الجامعية
# ⚠️ لا تنسى ملء جميع القيم

# توكن البوت (احصل عليه من @BotFather في تليجرام)
BOT_TOKEN    =  

# معرّف Supabase
SUPABASE_URL =  
SUPABASE_KEY = " "

# معرفات المشرفين (اختياري)
ADMIN_IDS=6276925823

# إعدادات البوت
DEBUG_MODE=False
ITEMS_PER_PAGE=15

# إعدادات الرسوم البيانية
DPI=300
CHART_STYLE=default

# إعدادات التقارير
INCLUDE_PDF=True
INCLUDE_TXT=True



GEMINI_API_KEY=" 
GOOGLE_AI_MODEL="gemini-flash-lite-latest"

# ⚠️ أهم: معرف قناة البوت (يجب أن يكون بهذه الصيغة: @channel_name)
# البوت يجب أن يكون admin في القناة
CHANNEL_USERNAME=@Resultsbot12
REQUIRE_CHANNEL_SUBSCRIPTION=true